@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
}
header {
    background-color: lightgray;
    border-radius: 8px;
    height: 150px;
    width: 100%;
    margin: 10px;
}