@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body { 
    font-family: 'Open Sans', sans-serif;
     
} 
* {
    margin: 0;
}
.container {
    margin: auto;
    padding-bottom: 110px;
}
header {
    background-color: lightgray;
    border-radius: 8px;
    height: 150px;
    margin: 10px;
    width: 100%;
}