/* Pagina basis. */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

/* Header opmaak. */
header {
	height: 100px;
	background-color: #666;
	text-align: center;
	font-size: 55px;
	color: white;
	font-family: 'Cookie', cursive;
}
h2 {
	margin: 0;
}


/* Kleuren voor vijf upgrades. */
.tier4 {
	cursor: pointer;
	background: #e63946; 
}
.tier3 {
	cursor: pointer;
	color: gray;
	background: #1d3557;
}
.tier2 {
	cursor: pointer;
	background: #457b9d;
}
.tier1 {
	cursor: pointer;
	background: #a8dadc;
}
.tier0 {
	cursor: pointer;
	background: #f1faee;
}

/* Afbeeldingen van 50x50. */
.icon {
	background-color: white;
	width: 50px;
	height: 50px;
}

/* Voeg ruimte toe tussen child elementen. */
.ruimte > * {
	/* margin: top right bottom left; */
	margin: 0px 10px 0px 0px;
	
}

/* Opmaak voor de upgrades/powerupWinkel in de drie lijsten. */
.tierdisplay>div{
	float: left;
	height: 50px;
	margin-top: 2px;
	display : flex;
	align-items : center;
}

/* Opmaak voor de upgrades, enkele kolom. */
.rows>div {
	width: 100%;
}

/* Opmaak voor de powerupWinkel, twee kolommen. */
.table>div {
	width: 50%;
	display: flex;
}

/* Opmaak voor de upgrades: omlijning. */
.tierdisplay>div:hover {
	outline: 2px groove blue;
}

/* Opmaak voor de kolom met het koekje. */
#klikRuimte {
	color: white;
	float: left;
	width: 20%;
	height: 500px;
	background: #463f3a;
	padding: 20px;
}
#klikRuimte img {
	width: fit-content;
	height: fit-content;
}
/* Opmaak voor de kolom met de Actieve Clickers */
#actieveClickers {
	float: left;
	padding: 20px;
	width: 40%;
	height: 500px;
	background: #8a817c;
}

/* Opmaak voor de kolom met de Clickers die te koop zijn. */
#clickerWinkel {
	float: left;
	padding: 20px;
	width: 20%;
	height: 500px;
	background-color: #bcb8b1;
}

/* Opmaak voor de kolom met de Powerups die te koop zijn. */
#powerupWinkel {
	float: left;
	width: 20%;
	height: 500px;
	background: #8a817c;
	padding: 20px;
}

/* Clear floats columns. */
section::after {
	content: "";
	display: table;
	clear: both;
}

/* Opmaak voor de footer. */
footer {
	background-color: #777;
	padding: 28px;
	text-align: center;
	color: white;
	height: 100%;
	font-size: 20px;
	
}

#v2 {
	color:greenyellow;
	font-weight: bold;
	content:'Klik voor V2.0!';
}
/* Created by Dedouwe */